:80 {
    log

    # Remove the Server header for security
    header -Server

    handle * {
        reverse_proxy {
            to backend:5000
            header_down Access-Control-Allow-Credentials {$ORIGIN_ALLOW_CREDENTIALS}
            header_down Access-Control-Allow-Method {$ORIGIN_ALLOW_METHOD}
            header_down Access-Control-Allow-Origin {http.request.header.Origin}
        }
    }

    handle {
        abort
    }
}